* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
  }
  
  main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 5% auto;
  }
  
  header {
    background-color: rgba(62, 61, 61, 0.754);
    color: rgba(255, 255, 255, 0.682);
    font-size: 1.15rem;
    padding-left: 1em;
    height: 10%;
  }
  
  .main_text {
    color: rgba(248, 248, 255, 0.84);
    text-align: center;
    padding: 0 1.5rem;
  }
  
  .music {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    height: 60%;
    min-height: 90px;
    max-width: 400px;
    
  }
  .icon_set{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .icon {
    width: 12.5%;
    max-height: 100%;
    aspect-ratio: 1/1;
    /* height: 50%; */
    min-width: 44px;
    min-height: 44px;
    border: 1px outset rgba(255, 255, 255, 0.177);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #ffffffcf;
    text-shadow:
    0 0 4px #ffffffcf,
    0 0 11px #ffffffcf,
    0 0 19px #ffffffcf,
    0 0 40px rgba(34, 98, 217, 0.486),
    0 0 80px rgb(34, 98, 217, 0.486),
    0 0 90px rgb(34, 98, 217, 0.486),
    0 0 100px rgb(34, 98, 217, 0.486),
    0 0 150px rgb(34, 98, 217, 0.486);
    
   
  }
  
  .buttons_display{
    margin-top: 2rem;
  }
  
  .set {
    margin: 0 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    
  }
  
  .button {
    height: 100%;
    max-height: 116px;
    aspect-ratio: 2.5/1;
    color: ghostwhite;
    background: linear-gradient(90deg, #414141, #1a1919);
    border-radius: 3%;
    line-height: 1.5;
  }
  
  .bl {
    grid-column: 1 / span 2;
    
  }
  
  @media screen and (min-width:576px) {
    .buttons_display{
      display: grid;
      grid-template-columns: 10% 1fr 10%;
    }
  
    .set{
      grid-column: 2;
    }
    
  }
  
  @media screen and (min-width:768px), (orientation:landscape) {
    main{
      display: flex;
      flex-direction: column;
      margin: 15% auto;
      align-items: center;
      position: relative;
    }

    .main_text{
      font-size: 1.5rem;
      margin-bottom: 3rem;
    }

    .icon_set{
      position:absolute;
      top:3rem;
    }

    .buttons_display{
      width: 100%;
      height: 30%;
      margin:0 10%;
      grid-template-columns: 2% 1fr 2%;
     
    }
  
    .set{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(2, 1fr);
      margin: 0;
     
    }
  
    .button{
      width:100%;
      aspect-ratio: 1/1;
      grid-row: 2;
    }

    #clap, #play{
      grid-row:1;
    }

    #play{
      grid-column:8;
    }
    
  }

  @media screen and (min-width:1400px){
    main{
      padding: 0 15%;
    }
  }
  
  